@import "tailwindcss";
*{
  margin: 0px;
  box-sizing: border-box;
}
#navbar{
  position: fixed;
  width: 100%;
  background-color: #33393f;
  color: #fff;
}
#navbar-wraper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 85px;
}
#navbar-wraper > #nav-links {
  display: flex;
  align-items: center;
}
#navbar-wraper > #nav-links > div{
  display: flex;
  overflow: hidden;
  gap: 10px;
}
#navbar-wraper > #nav-links > div > a > p{
  font-size: 16px;
  padding-bottom: 2px;
}
#search-bar{
  background-color: #fff;
  color: #33393f;
}
#navbar-wraper > #nav-links > #search-wraper > input:focus{
  border: 2px solid #B31312;
}
#search-btn{
  cursor: pointer;
}
.active{
  border-bottom: 2px solid #B31312;
}